:root {
  --orange: #f9a743;
  --gray: #3b4045;
  --color: #3b4045;
}
.container {
  margin: auto;
}
body {
  color: var(--gray);
}

.navbar-collapse {
  flex-grow: 0;
}
a {
  font-weight: 600;
}
.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  font-weight: normal;
}

.box {
  margin-top: 5rem;
}
.box h2 {
  font-weight: bold;
  font-size: 60px;
}
@media (max-width: 575px) {
  .box h2 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  img {
    max-width: 100%;
  }
}
.box p,
.choose p {
  color: var(--color);
  line-height: 1.7;
}
.box button,
.choose button,
.inputs .submit,
.review button {
  padding: 15px 40px;
  background-color: var(--orange);
  border: none;
  box-shadow: 0px 2px 11px 0px #f9a743;
  margin-top: 10px;
}

.features,
.choose,
.samples {
  margin-top: 7rem;
}
.features h2 {
  font-weight: 600;
}
.img {
  text-align: center;
}
.design {
  margin-top: 7rem;
  background-color: var(--orange);
  padding: 70px 0;
}
.samples img {
  width: 182px;
}

.updates {
  margin-top: 7rem;
  margin-bottom: 7rem;
  background: fixed;
  background-image: url(../img/call-to-action.jpg);
  background-size: cover;
  padding: 70px 0;
  position: relative;
}
.updates::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3b404599;
}
.mail {
  border: none;
  outline: none;
  border-radius: 30px 0 0 30px;
  padding: 0 0 0 20px;
  flex: 3;
  height: 50px;
}
.inputs .submit {
  border-radius: 0 30px 30px 0;
  color: white;
  padding: 0;
  height: 50px;
  flex: 1;
  margin-top: 0;
}

@media (max-width: 767px) {
  .inputs .submit {
    padding: 10px 20px;
    border-radius: 30px;
    max-width: 100%;
    width: 200px;
  }
  .inputs .mail {
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 200px;
  }
}
.review svg {
  color: var(--orange);
  font-size: 40px;
}
.review p {
  color: #777;
}
.review img {
  border-radius: 50%;
  width: 50px;
}
.review .col {
  padding: 0 15px;
}

.review button {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

footer {
  background-color: #f4f4f4;
}
footer p {
  font-weight: 300;
  color: #555;
}

.copy {
  font-size: 11px;

  letter-spacing: 2px;
}
